.carusel{
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #F0F5F7;
    .box1{  
        background-color: #fff;
        height: 324px;
        width: 570px;
        border-radius: 10px;
        padding: 30px;

    }
}
