.jc-card{
    height: auto;
    border: 1px solid #000;
    border-radius: 10px;
  
    .icon{
        width: 60px;
        height: 60px;
        // background-color: rgb(2, 33, 37);
        border-radius: 10px;
        i{
            font-size: 40px;
        }
    }
}

.job-categories{
    width: 100%;
    height: auto;
    padding: 70px 0 40px 0;
    border-bottom: 1px solid #ECEDF2;
}